In [88]:
class_starts_at=3 # Class starts at 3 PM
you_came_at=5
you_understood_all_concepts=you_came_at<class_starts_at
print(f"You understood everything?:{you_understood_all_concepts}")

You understood everything?:False

In [89]:
class_starts_at=3 # Class starts at 3 PM
you_came_at=2.5
you_understood_all_concepts=you_came_at<class_starts_at
print(f"You understood everything?:{you_understood_all_concepts}")

You understood everything?:True

In [90]:
is_raining=False
umbrella_available=False
go_to_college=is_raining==umbrella_available
go_to_college

True

In [91]:
print("Hi Students")

Hi Students

In [92]:
123**2

15129

In [93]:
123%2

1

In [94]:
2/2

1.0

In [95]:
2/3

0.6666666666666666

In [96]:
3/2

1.5

In [97]:
print(3/2)

1.5

In [98]:
ten=10

In [99]:
ten*=10

In [100]:
ten*10

1000

In [101]:
ten_number=10

In [102]:
_num=20

In [103]:
_ =10

In [104]:
a=7

In [105]:
type(a)

int

In [106]:
b=7.998

In [107]:
type(b)

float

In [108]:
c=22
print(type(c))
c=22.2582
print(type(c))
c="22"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [109]:
"Day"+" 1"

'Day 1'

In [110]:
'22'+"22"

'2222'

In [111]:
22+22

44

In [112]:
print("Hi welcome to class of Python Langauge")

Hi welcome to class of Python Langauge

In [113]:
Language= "Python"
print(f"Hi welcome to class of {Language} Langauge")

Hi welcome to class of Python Langauge

In [114]:
Language= "Javascript"
print(f"Hi welcome to class of {Language} Langauge")

Hi welcome to class of Javascript Langauge

In [115]:
Language= "Java"
print(f"Hi welcome to class of {Language} Langauge")

Hi welcome to class of Java Langauge

In [116]:
Language= "Python "
print(f"Hi welcome to class of "   + Language +  "Langauge")

Hi welcome to class of Python Langauge

In [117]:
Language= "Python"
print("Hi welcome to class of {} Language".format(Language))

Hi welcome to class of Python Language

In [118]:
Language= "Javascript"
print("Hi welcome to class of {} Language".format(Language))

Hi welcome to class of Javascript Language

In [119]:
Language= "Java and C, C++"
print("Hi welcome to class of {} Language".format(Language))

Hi welcome to class of Java and C, C++ Language

In [120]:
type(True)

bool

In [121]:
Name=" Vinay Kumar T K "
print(f"My Name is {Name}")

My Name is  Vinay Kumar T K

In [122]:
Name=" Vinay Kumar T K"
Married ="Sangeeetha V"
print(f"My Name is {Name} who married to {Married}")

My Name is  Vinay Kumar T K who married to Sangeeetha V

In [123]:
Vinay_Kumar_T_K=" Structural Engineer"
Sangeeetha_V=" Software Engineer"
print(f"Vinay Kumar T K is a{Vinay_Kumar_T_K} and Sangeetha V is a{Sangeeetha_V}. Who's marriage done at Shree Panchalingeshwara Temple, Bundarekoppalu")

Vinay Kumar T K is a Structural Engineer and Sangeetha V is a Software Engineer. Who's marriage done at Shree Panchalingeshwara Temple, Bundarekoppalu